<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="restassured_api_framework" verbose="1" >
    <listeners>
        <listener class-name = "utils.ExtentReportTestNG" />
    </listeners>
  <test name="Regression suite" >
    <classes>
      <class name="BasicApiTest"/>
    </classes>
 </test>
</suite>